REDIS_HOST=192.168.1.10
REDIS_PASS=GantiPasswordKuat
OPENCTI_URL=http://opencti:8080
OPENCTI_TOKEN=isi_token_opencti
OPENCTI_STREAM_ID=isi_id_live_stream
GLPI_URL=http://glpi/apirest.php
GLPI_APP_TOKEN=isi_app_token
GLPI_USER_TOKEN=isi_user_token
GLPI_POLL_INTERVAL=5

# --- Enrichment (opsional, kosongkan jika tidak punya) ---
ABUSEIPDB_KEY=
VT_API_KEY=
IPINFO_TOKEN=